<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All shows will show up here</h1>
    <form action="/shows" method="POST">
        {% csrf_token %}
    </form>
    <table>
        <thead>
           <tr>ID</tr>
            <tr>Title</tr>
            <tr>Network</tr>
            <tr>Release Date</tr>
            <tr>Actions</tr>
        </thead>
        <tbody>
            <tr>
                {% for show in all_show %}
                <td>{{show.id}}</td>
                <td>{{show.title}}</td>
                <td>{{show.release_date}}</td>
                <td><a href="/shows/{{show.id}}">Show</a></td>
                <td><a href="/edit_shows/{{show.id}}">Edit</a></td>
                <td><a href="/delete/{{show.id}}">Delete</a></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    
</body>
</html>